<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings >
    <add key="LogType" value="AdapterLog4Net" />
    <add key="Language" value="ES-ES" />
    <add key="Format" value="txt" />
    <add key="Database" value="Database" />
  </appSettings>
</configuration>